.skeleton-custom {
    background-color: rgba(100, 116, 139, 0.3); /* Transparent grey */
    border-radius: 0.5rem;
    margin: 0.5rem;
    transition: box-shadow 0.2s;
  }
  
  .skeleton-custom .react-loading-skeleton {
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -150%;
    }
    100% {
      background-position: 150%;
    }
  }
  